* {
    padding: 0;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
}

body {
    background-color: #111;
    font-family: fantasy;
}

.container {
    width: 98%;
    margin: auto;
}

nav {
    position: fixed;
    display: block;
    background-color: #111;
    text-align: center;
    width: 100%;
}

.title {
    color: rgb(250, 225, 0);
}

.list {
    margin: 10px 0;
}

.list li {
    display: inline;
    padding: 10px 10px 0;
}

.sol-top {
    width: 90%;
    padding-top: 100px;
    margin-left: 10%;
    margin-right: auto;
}

.banner {
    width: 90%;
    margin: 0 auto;
}