* {
    padding: 0;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
}

body {
    background-color: #111;
    font-family: fantasy;
}

.container {
    width: 98%;
    margin: auto;
}

nav {
    position: fixed;
    display: block;
    background-color: rgba(17, 17, 17, 0.753);
    text-align: center;
    width: 100%;
}

.title {
    color: rgb(250, 225, 0);
}

.list {
    margin: 10px 0;
}

.list li {
    display: inline;
    padding: 10px 10px 0;
}

.list li a {
    color: rgb(5, 206, 5);
}

.sol-top {
    width: 90%;
    padding-top: 100px;
    margin-left: 15%;
    margin-right: auto;
}

.sol-top figcaption {
    padding-left: 20px;
}

.about {
    width: 80%;
    margin: auto;
    padding: 70px 0;
}

.entitle {
    color: rgb(180, 196, 170);
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

.member {
    padding-bottom: 8px;
    font-size: 20px;
}

.banner {
    width: 80%;
    margin: 0 auto;
}

.article {
    padding: 15px 0;
}

.article p {
    line-height: 2;
}

.songs {
    padding-bottom: 15px;
}

.uorder {
    padding: 5px 0 0 10px;
}

.uorder li {
    padding-top: 10px;
}

.bio {
    margin: 0 40%;
    width: 20%;
    padding: 20px 0
}

.images p {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    line-height: 1;
}

.images p em {
    color: greenyellow
}